:root {
  --color-white: 255, 255, 255;
  --color-black: 0, 0, 0;
  --font-h1: 48px;
  --font-h2: 40px;
  --font-h3: 32px;
  --font-h4: 24px;
  --font-h5: 20px;
  --font-h6: 16px;
  --font-h7: 14px;
  --font-h8: 12px;
  --font-leading1: 64px;
  --font-leading2: 52px;
  --font-leading3: 42px;
  --font-leading4: 32px;
  --font-leading5: 28px;
  --font-leading6: 24px;
  --font-leading7: 22px;
  --font-leading8: 20px;
}

@media screen and (max-width: 390px) {
  :root {
    --color-white: #fff;
    --color-black: #000;
    --font-h1: 24px;
    --font-h2: 24px;
    --font-h3: 24px;
    --font-h4: 18px;
    --font-h5: 14px;
    --font-h6: 12px;
    --font-h7: 12px;
    --font-h8: 12px;
    --font-leading1: 32px;
    --font-leading2: 32px;
    --font-leading3: 32px;
    --font-leading4: 26px;
    --font-leading5: 22px;
    --font-leading6: 20px;
    --font-leading7: 20px;
    --font-leading8: 16px;
  }
}

// color
@colorWhite: var(--color-white);
@colorBlack: var(--color-black);
@colorText: rgba(@colorBlack, 0.88); // 一级文本色
@colorTextSecondary: rgba(@colorBlack, 0.65); // 二级文本色
@colorTextTertiary: rgba(@colorBlack, 0.45); // 三级文本色
@colorTextQuaternary: rgba(@colorBlack, 0.25); // 四级文本色
@colorBorder: rgba(@colorBlack, 0.15); // 边框色
@colorText1: rgba(@colorWhite, 0.88); // 一级文本色
@colorTextSecondary1: rgba(@colorWhite, 0.65); // 二级文本色
@colorTextTertiary1: rgba(@colorWhite, 0.45); // 三级文本色
@colorTextQuaternary1: rgba(@colorWhite, 0.25); // 四级文本色
@colorPrimary1: #c1272d; // 品牌色
@colorPrimary2: #22b573; // 品牌色
@colorPrimaryBg: #fff2f0; // 主色浅背景
@colorPrimaryBgHover: #f5d2ce; // 主色浅色背景 悬浮态
@colorPrimaryBorder: #e8a39e; // 主色描边色
@colorPrimaryBorderHover: #db7672; // 主色描边色 悬浮态
@colorPrimaryHover: #cf4a4a; // 主色悬浮态
@colorPrimaryActive: #9c1720; // 主色激活态
@colorSuccess: #2FB97B; // 成功色
@colorWarning: #faad14; // 警告色
@colorError: #ff4d4f; // 错误色
@colorBgBase: #ffffff; // 基础背景色
@colorBgLayout: #f5f5f5; // 布局背景色
@colorBgModule: rgba(0,0,0,0.03); // 组件背景色

// width
@widthMax: 1440px; // 最大宽度
