@import 'color.less';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  // background-color: #33353eff;
  color: #333;
}
#app {
  width: 100%;
  min-width: 1280px;
  height: 100%;
}

.font-h1 {
  font-size: var(--font-h1);
  line-height: var(--font-leading1);
}
.font-h2 {
  font-size: var(--font-h2);
  line-height: var(--font-leading2);
}
.font-h3 {
  font-size: var(--font-h3);
  line-height: var(--font-leading3);
}
.font-h4 {
  font-size: var(--font-h4);
  line-height: var(--font-leading4);
}
.font-h5 {
  font-size: var(--font-h5);
  line-height: var(--font-leading5);
}
.font-h6 {
  font-size: var(--font-h6);
  line-height: var(--font-leading6);
}
.font-h7 {
  font-size: var(--font-h7);
  line-height: var(--font-leading7);
}
.font-h8 {
  font-size: var(--font-h8);
  line-height: var(--font-leading8);
}

.font-color-colorBlack{
  color: @colorBlack;
}

.font-color-colorText {
  color: @colorText;
}

.font-color-colorTextSecondary {
  color: @colorTextSecondary;
}

.background-white {
  background-color: @colorBgBase;
}

.background-colorBgLayout {
  background-color: @colorBgLayout;
}

// 全局居中容器
.container {
  width: @widthMax;
  margin: 0 auto;
}

// 全局背景容器
.bg-layout {
  background-color: @colorBgLayout;
}
