.compny-wish-wrapper {
    background: linear-gradient(#F7CC94 0%, #FFDA9D 100%), radial-gradient( 62% 73% at 80% 15%, rgba(255,255,255,0.5) 0%, rgba(177,164,147,0.41) 100%);
    opacity: 0.2;
}

.develo-guid-blue{
    background: linear-gradient( 180deg, #F4F9FF 0%, #EEF6FF 100%);
}

.develo-guid-puerple{
    background: linear-gradient( 180deg, #F7F8FF 0%, #EEF0FF 100%);
}

.develo-guid-pink{
    background: linear-gradient( 180deg, #FFF8F8 0%, #FFEEEE 100%);
}